### Q1. List any five functions of the pandas library with execution.

#### Ans) Five functions of the pandas library with their execution:
#### 1. `read_csv()`: This function is used to read a CSV file and store it as a pandas DataFrame.

In [6]:
import pandas as pd

# read the CSV file
data = pd.read_csv("services.csv")

# print the first five rows of the DataFrame
data.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

#### 2. `dropna()`: This function is used to drop any rows that have missing values (NaN).

In [ ]:
import pandas as pd

# create a DataFrame with missing values
data = pd.DataFrame({'A': [1, 2, 3, None, 5], 'B': [6, 7, None, 9, 10]})

# drop the rows with missing values
data = data.dropna()

# print the resulting DataFrame
print(data)

     A     B
0  1.0   6.0
1  2.0   7.0
4  5.0  10.0

#### 3. `groupby():` This function is used to group a DataFrame by one or more columns and perform calculations on each group.

In [8]:
import pandas as pd

# create a DataFrame with two columns
data = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Charlie'],
                     'Score': [80, 90, 70, 85, 75]})

# group the DataFrame by 'Name' and calculate the mean of each group's 'Score'
grouped_data = data.groupby('Name')['Score'].mean()

# print the resulting Series
print(grouped_data)

Name
Alice      82.5
Bob        90.0
Charlie    72.5
Name: Score, dtype: float64

#### 4. `merge():` This function is used to merge two DataFrames on a common column.

In [9]:
import pandas as pd

# create two DataFrames
left = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
right = pd.DataFrame({'key': ['B', 'C', 'D'], 'value': [4, 5, 6]})

# merge the two DataFrames on 'key'
merged = pd.merge(left, right, on='key')

# print the resulting DataFrame
print(merged)

  key  value_x  value_y
0   B        2        4
1   C        3        5

#### 5. `describe():` This function is used to get the summary statistics of a DataFrame.

In [10]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Peter', 'Jane', 'Jessica', 'Mike'], 
        'Age': [25, 30, 27, 22, 35], 
        'Country': ['USA', 'Canada', 'Australia', 'UK', 'USA']}
df = pd.DataFrame(data)

# Getting the summary statistics of the DataFrame
print(df.describe())

             Age
count   5.000000
mean   27.800000
std     4.969909
min    22.000000
25%    25.000000
50%    27.000000
75%    30.000000
max    35.000000

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [6]:
import pandas as pd
##Creating a sample DataFrame
df = pd.DataFrame({'A': ["Maths", 'Phys', 'Chem', 'Bio'],
                   'B': ['Hist', 'Geog', 'Philo', 'Eco'],
                   'C': ['English', 'Hindi', 'Urdu', 'Arabic']
                  })
df

       A      B        C
0  Maths   Hist  English
1   Phys   Geog    Hindi
2   Chem  Philo     Urdu
3    Bio    Eco   Arabic

In [7]:
##Re-indexing the DataFrame using the reindex_df() function
def reindex_df(df):
    new_index = range(1, 2*len(df)+1, 2) ##range starts from 1 as the incrrement is by 2 so we multiplied the len by 2
    df = df.set_index(pd.Index(new_index)) ##setting the new index
    return df

df = reindex_df(df)
df

       A      B        C
1  Maths   Hist  English
3   Phys   Geog    Hindi
5   Chem  Philo     Urdu
7    Bio    Eco   Arabic

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
#### For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [11]:
import pandas as pd

def sum_first_three_values(df):
    total = 0
    for i in range(3):
        total += df['Values'][i]
    print('Sum of first three values:', total)

In this function, we import the Pandas library and define a function called `sum_first_three_values` that takes a DataFrame `df` as input. Inside the function, we initialize a variable `total` to 0, and use a for loop to iterate over the first three rows of the 'Values' column of the DataFrame. We use `df['Values'][i]` to access the i-th element of the 'Values' column in each iteration of the loop, and add it to the running total. Finally, we print the sum of the first three values to the console using `print('Sum of first three values:', total)`.

To test this function, we can create a sample DataFrame with a 'Values' column and call the function with the DataFrame as input. Here's an example:

In [12]:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three_values(df)

Sum of first three values: 60

In this example, we create a DataFrame `df` with a 'Values' column containing the values [10, 20, 30, 40, 50]. We then call the `sum_first_three_values` function with `df` as input, which calculates and prints the sum of the first three values in the 'Values' column, which is 60.

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
import pandas as pd

##Creating a sample dataframe
df= pd.DataFrame({'Text': ['I want to become a data scientist',
                           'AI is booming',
                           'I need to work really hard',
                           'I am grateful for everything']
                 })

##creating a function to count the words in the Text column
def WordCount(df):
    word_count = df['Text'].str.split().apply(len)
    df['Word_Count'] = word_count
    return df

##adding the 'Word_Count' column to the DataFrame
df = WordCount(df)
df

                                Text  Word_Count
0  I want to become a data scientist           7
1                      AI is booming           3
2         I need to work really hard           6
3       I am grateful for everything           5

### Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans) `DataFrame.size()` and `DataFrame.shape()` are two different functions in Pandas library.

`DataFrame.size()` function returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns. It does not provide any information about the structure or dimensions of the DataFrame.

`DataFrame.shape()` function, on the other hand, returns a tuple representing the dimensions of the DataFrame in the form (number of rows, number of columns). It gives information about the structure of the DataFrame.

In summary, `DataFrame.size()` gives the total number of elements, whereas `DataFrame.shape()` gives the structure or dimensions of the DataFrame.

### Q6. Which function of pandas do we use to read an excel file?

Ans) We use the `read_excel()` function of Pandas to read an excel file. 

The `read_excel()` function is used to read data from Excel files. It can read data from both xls and xlsx file formats. This function takes the file path or URL of the Excel file as input and returns a Pandas DataFrame object. We can then use the Pandas DataFrame functions to manipulate and analyze the data. 

Here is an example code snippet that demonstrates how to use the `read_excel()` function to read an Excel file:

```python
import pandas as pd

# Read the excel file
df = pd.read_excel('example.xlsx')

# Display the contents of the DataFrame
print(df)
``` 

In the above code, the `read_excel()` function is used to read the 'example.xlsx' Excel file and store its contents in the 'df' Pandas DataFrame object. We can then use the Pandas DataFrame functions to manipulate and analyze the data.

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
#### The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

Ans) To create a new column 'Username' in the DataFrame 'df' that contains only the username part of each email address, we can use the string methods available in Pandas.

Here's the Python code to achieve this:

In [14]:
import pandas as pd

# Creating a sample DataFrame
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com', 'yaara.rua@gmail.com']})

# Defining a function to extract the username from each email address
def extract_username(email):
    return email.split('@')[0]

# Applying the 'extract_username' function to the 'Email' column and storing the result in the new 'Username' column
df['Username'] = df['Email'].apply(extract_username)

# Printing the updated DataFrame
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2     yaara.rua@gmail.com   yaara.rua

In this code, we first create a sample DataFrame 'df' with a column named 'Email' that contains email addresses. 

We then define a function named 'extract_username' that takes an email address as input and returns only the username part of the email address (i.e., the part before the '@' symbol).

Next, we apply the 'extract_username' function to each element in the 'Email' column of the DataFrame using the 'apply' method. The resulting Series is then assigned to a new column named 'Username' in the DataFrame.

Finally, we print the updated DataFrame with the new 'Username' column.

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:    
  
  A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Your function should select the following rows:     
  
  A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [15]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

Here, we are using the '&' operator to combine two conditions. The first condition is that the value in column 'A' is greater than 5 and the second condition is that the value in column 'B' is less than 10. The resulting DataFrame will contain only the selected rows.

To use this function, we can pass the DataFrame `df` as an argument:

In [16]:
df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 10],
    'C': [1, 7, 4, 5, 2]
})

selected_rows = select_rows(df)
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [22]:
import pandas as pd

def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    
    return mean, median, std_dev


df = pd.DataFrame({'Values': [10, 20, 30, 40, 50, 60, 70, 80, 90, 99]})
mean, median, std_dev = calculate_stats(df)

print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)

Mean: 54.9
Median: 55.0
Standard Deviation: 30.11256659048954

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

Ans) An example of how to create a new column 'MovingAverage' in a Pandas DataFrame 'df' with columns 'Date' and 'Sales', that contains the moving average of the sales for the past 7 days for each row in the DataFrame:

In [25]:
import pandas as pd

# Create sample data
data = {'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16', '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20'],
        'Sales': [100, 120, 80, 150, 200, 120, 180, 160, 140, 100, 120, 180, 200, 220, 180, 140, 160, 180, 200, 220]}
df = pd.DataFrame(data)

# Calculate moving average of past 7 days for each row
df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

# Print the DataFrame
print(df)

          Date  Sales  MovingAverage
0   2022-01-01    100     100.000000
1   2022-01-02    120     110.000000
2   2022-01-03     80     100.000000
3   2022-01-04    150     112.500000
4   2022-01-05    200     130.000000
5   2022-01-06    120     128.333333
6   2022-01-07    180     135.714286
7   2022-01-08    160     144.285714
8   2022-01-09    140     147.142857
9   2022-01-10    100     150.000000
10  2022-01-11    120     145.714286
11  2022-01-12    180     142.857143
12  2022-01-13    200     154.285714
13  2022-01-14    220     160.000000
14  2022-01-15    180     162.857143
15  2022-01-16    140     162.857143
16  2022-01-17    160     171.428571
17  2022-01-18    180     180.000000
18  2022-01-19    200     182.857143
19  2022-01-20    220     185.714286

The rolling() function in Pandas is used to generate a rolling window of data for a given window size. Here, we're using a window size of 7 days for calculating the moving average of sales. The min_periods parameter is set to 1, which means that the rolling window calculation will start from the first row itself, even if there are less than 7 rows in the DataFrame. Finally, the mean() function is applied to the rolling window of data to calculate the moving average. The results are stored in a new column named 'MovingAverage' in the DataFrame.

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

Ans) Here's an example Python function that uses the `dt` accessor in Pandas to create a new column 'Weekday' in a DataFrame with a 'Date' column:

In [3]:
import pandas as pd

def add_weekday_column(df):
    # Convert 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Use the 'dt' accessor to get the weekday name for each date
    df['Weekday'] = df['Date'].dt.strftime('%A')
    
    return df


df = pd.DataFrame({'Date': ['2023-05-01', '2023-05-02', '2023-05-03']})
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-05-01     Monday
1 2023-05-02    Tuesday
2 2023-05-03  Wednesday

This function first converts the 'Date' column to datetime format using the `pd.to_datetime()` function. It then uses the `dt` accessor to extract the weekday name for each date and store it in a new 'Weekday' column. The `%A` format code in the `strftime()` function is used to specify the full weekday name (e.g. Monday, Tuesday). Finally, the function returns the updated DataFrame.